<div class='col-10 col-sm-8 col-md-6 mx-auto'>
<section>
  <h1>New Post </h1>
  <%= bootstrap_form_with(model: @post, url: user_posts_path(current_user), local: true) do |form| %>
    <%= form.text_field :title %>
    <%= form.text_area :text %>
    <%= form.submit "Create Post", class: "button" %>
  <% end %>
</section>
</div>
